process {
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/fastp" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: FASTP_HIC {
        ext.prefix = {"${meta.id}_hicreads"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/hic_reads/fastp" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
