/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/genomeassembler -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/genomeassembler/samplesheet/full_test_samplesheet.csv'
    ontreads = 's3://nf-core-awsmegatests/genomeassembler/input/Col_0.ONT.porechopped.fastq.gz'
    hifireads = 's3://nf-core-awsmegatests/genomeassembler/input/Col_0.hifi_reads.fastq.gz'
    ref_fasta = 'http://raw.githubusercontent.com/schatzlab/Col-CEN/main/v1.2/Col-CEN_v1.2.fasta.gz'
    ref_gff = 'http://raw.githubusercontent.com/schatzlab/Col-CEN/main/v1.2/Col-CEN_v1.2_genes.araport11.gff3.gz'
    shortread_F =
    quast = true
    busco = true
    jellyfish = true
    use_ref = true
}
